* {
  font-family: 'Roboto Slab', serif;
}

form {
  margin-left: auto;
  margin-right: auto;
  position: center;
}

/* Full-width inputs for sign in form */

.signInWidthBox input[type=text] {
  width: 80%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signInWidthBox input[type=password] {
  width: 80%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add a hover effect for buttons */

button:hover {
  opacity: 0.8;
}

/* Add padding to containers */

#signInFormCont {
  padding-top: 12rem;
  text-align: center;
  position: relative;
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 50%;
    display: inline-block;
    align-content: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  /* Set a style for all buttons */
  .signIn button {
    background-color: #04AA6D;
    border: black;
    cursor: pointer;
    outline: black;
    width: 100px;
    margin-left: auto;
    margin-right: 16px;
  }
  /* Set a style for all buttons */
  .register button {
    background-color: #04AA6D;
    border: black;
    cursor: pointer;
    outline: black;
    width: 100px;
    margin-left: auto;
  }
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  /* Add padding to containers */
  #signInFormCont {
    padding-top: 12rem;
    text-align: center;
  }
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 600px) {
    span.psw {
      display: block;
      float: none;
    }
  }
}